:root {
  --cv-width: 800px;
  --cv-heigth: calc(var(--cv-width) * 1.4142);
  --cv-head-color: rgb(95, 158, 160);
  --button-delete: rgba(255, 127, 127);
  --button-delete-hover: rgba(255, 127, 127, 0.75);
  --button-cancel: rgba(204, 204, 204);
  --button-cancel-hover: rgba(204, 204, 204, 0.75);
  --button-save: rgba(127, 255, 127);
  --button-save-hover: rgba(127, 255, 127, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  /* padding: 25px; */
}
.app .left,
.app .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 1px solid black;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
}
form h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
form input,
form textarea {
  font-size: 15px;
  outline: 0;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 400ms;
}
form input:focus,
form textarea:focus {
  outline: none;
  border-color: blue;
}
form .education,
form .experience {
  display: flex;
  gap: 15px;
  /* border: 1px solid black; */
}
button {
  outline: 0;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 300ms;
}
button:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}
button:active {
  scale: 0.97;
}
form .button {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
form .button .delete {
  margin-right: auto;
  background-color: var(--button-delete);
}
form .button .delete:hover {
  background-color: var(--button-delete-hover);
}
form .button .cancel {
  background-color: var(--button-cancel);
}
form .button .cancel:hover {
  background-color: var(--button-cancel-hover);
}
form .button .save {
  background-color: var(--button-save);
}
form .button .save:hover {
  background-color: var(--button-save-hover);
}

form .button .delete,
form .button .cancel,
form .button .save {
  width: 80px;
  height: 40px;
}

.cv {
  border: 1px solid black;
  max-width: var(--cv-width);
  min-height: var(--cv-heigth);
}
.cv .head,
.cv .body {
  padding: 25px;
}
.cv .head {
  color: white;
  background-color: var(--cv-head-color);
  min-height: 100px;
}
.cv .head .top {
  font-size: 38px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.cv .head .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cv .head .bottom .email,
.cv .head .bottom .phone,
.cv .head .bottom .location {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.cv .body h1 {
  font-size: 24px;
  background-color: rgb(190, 190, 190);
  border-radius: 2px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
.cv .body li {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
}
.cv .body .date {
  display: flex;
  justify-content: space-between;
}
.cv .body .dateLocation {
  min-width: 140px;
}
.cv .body .school p,
.cv .body .company p {
  font-weight: bold;
}

.cv .body .position,
.cv .body .degree {
  font-style: italic;
}
